/* line 5, ../sass/override.scss */
textarea.form-textarea {
  padding: 5px;
  font: normal 500 1em/1em "Open Sans", Arial, sans-serif;
}

/* line 11, ../sass/override.scss */
.chzn-container-single .chzn-single span {
  color: #333;
}

/* line 19, ../sass/override.scss */
.field-widget-inline-entity-form .ief-entity-operations input.form-submit {
  color: #5A5A5A;
  text-shadow: 0 -1px 1px white;
  background-position: 0 bottom;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 -1px 1px white;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 -1px 1px white;
  box-shadow: 0 1px 2px #cccccc, inset 0 -1px 1px white;
  background: #e0e0e0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: -moz-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 30px;
}
/* line 32, ../sass/override.scss */
.field-widget-inline-entity-form .form-wrapper {
  border: none;
}
/* line 40, ../sass/override.scss */
.field-widget-inline-entity-form .ief-form-bottom {
  padding-top: 0;
}
/* line 43, ../sass/override.scss */
.field-widget-inline-entity-form .ief-entity-table + .ief-form-bottom {
  margin-top: -11px;
}

/* line 49, ../sass/override.scss */
.form-type-managed-file strong {
  color: inherit;
  font-weight: inherit;
}

/* line 56, ../sass/override.scss */
.form-required {
  color: #e62600;
}

/* line 62, ../sass/override.scss */
.form-options.error {
  border: 2px solid red;
  background-image: none;
  background-color: inherit;
}

/* line 70, ../sass/override.scss */
.data-source-preview-modal table {
  clear: both;
}
